a {
  text-decoration: none;
  border-bottom: 0px solid #f59e0b;
  transition: all 0.3s ease;
  /* line-height: 11px; */
}

.nav__link {
  text-decoration: none;
  margin-right: 25px;
  border-bottom: 0px solid #f59e0b;

  position: relative;
  padding-bottom: 6px;
  transition: hover 0.3s ease;
}

.nav__link:after {
  content: '';
  position: absolute;
  margin-top: 5px;
  left: 50%;
  bottom: -4px;
  width: 0%;
  border-bottom: 3px solid #f59e0b;
  transition: all 0.3s ease;
}

.nav__link:hover:after {
  border-bottom: 3px solid #f59e0b;
  height: 3px;
  left: 0;
  width: 100%;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid #f59e0b;
  color: #f59e0b;
}

.active:after {
  content: '';
  border-bottom: 3px solid transparent;
  position: absolute;
  margin-top: 5px;
  left: 50%;
  bottom: -4px;
  width: 0%;
  transition: all 0.01s ease;
}

.active:hover:after {
  border-bottom: 0px solid #374151;
  height: 0px;
  left: 0;
  width: 100%;
  text-decoration: none;
}

a:hover {
  color: #f59e0b;
  text-decoration: none;
}

.logo.active {
  border-bottom: 0px solid #374151;
}

.text-orange {
  color: #f59e0b !important;
  fill: #f59e0b !important;
}

.player-scrub,
.player-song-info {
  width: calc(100% - 250px);
}

.top-neg-8 {
  top: -8px;
}

#header {
  padding: 0.5rem 1rem;
}

.player-song-info {
  margin-top: -24px;
}

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #ff5e3a;
  fill: #ff5e3a;
}

.introduction-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  z-index: -1;
}

#playlist li:first-child {
  padding-top: 25px;
}

.upload-dropbox.upload-dropbox-drag {
  color: #fff;
  background-color: #20d862;
  border-color: #20d862;
  border-style: solid;
}

input[type='file'] {
  margin-top: 20px;
}

.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

.music-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  background-image: url(/assets/img/song-header.png);
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 4000px 0;
  }
}

body {
  background: #4d4983;
}

.main__block {
  margin: 5rem 0;
  padding: 1.5rem 0;
  border-radius: 15px;
  background: #4d4983;
  box-shadow: inset 5px 5px 4px #444073, inset -5px -5px 4px #565293;
  overflow: hidden;
}

.item__song {
  margin: 9px 0;
  transition: transform 0.35s ease;
  border-left: 0px solid #ff5e3a;
}

.item__song:hover {
  background: linear-gradient(145deg, #454276, #524e8c);
  box-shadow: 5px 5px 4px #444073, -5px -5px 4px #565293;
  transform: translate3d(5px, -2px, 0);
  border-left: 3px solid #ff5e3a;
  /* transform: translateY(-5px); */
}

.blocks {
  border-radius: 15px;
  background: #4d4983;
  box-shadow: inset 5px 5px 4px #444073, inset -5px -5px 4px #565293;
  overflow: hidden;
}

.inner__blocks {
  border-radius: 25px;
  background: linear-gradient(45deg, #454276, #524e8c);
  box-shadow: 5px -5px 10px #423f71, -5px 5px 10px #585395;
}

.songs__list {
  height: 80vh;
  overflow-y: scroll;
}
.progress__container {
  max-height: 200px;
  overflow-y: scroll;
}

.songs__list::-webkit-scrollbar,
.progress__container::-webkit-scrollbar {
  height: 6px;
  width: 2px;
}

/* Track */
.songs__list::-webkit-scrollbar-track,
.progress__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.songs__list::-webkit-scrollbar-thumb,
.progress__container::-webkit-scrollbar-thumb {
  background: #423f71;
  border-radius: 10px;
}

.bottom__bar {
  background: linear-gradient(145deg, #454276, #524e8c);
  box-shadow: 5px 5px 10px #434072, -5px -5px 10px #575294;
}

.home__list {
  height: 70vh;
}

.loader__container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 100;
  color: white;
}

.form__bg {
  border-radius: 10px;
  background: linear-gradient(145deg, #423f71, #423f71);
  /* box-shadow: 5px 5px 0px #78758c, -5px -5px 0px #84819a; */
}

@media only screen and (max-width: 400px) {
  .show {
    display: none;
  }
}
@media only screen and (max-width: 722px) {
  .uploader__show {
    display: none;
  }
}
